script: npm run deploy
language: node_js
node_js:
- '7'
before_script:
- npm run build
env:
  global:
  - GH_REF: github.com/websemantics/atom-styleguide.git
  - secure: gt2UJAE/EspKVLM70+0jC92blbuhXEPAp1O0XHS9Sd8dXmGZ8f+gYQ2+RHIyRICg8tmeVfa9nhWszttgCdx9vej8KhCHvF3GNRmfU5K5Aa8BcmmpLbX3FXdhejVLhr427cza0ymP3UBMHWQdHpTkWK/tCW4J3M8aVmg1yqnhgZDQGehnh5WN2ZCWxVAquMvmg7PwkRNwGHF2F5c6oMLq5YObkLg3Go8b0I8XDl6IQwuhvdweRnzeE3knWafWx2oR4OwiIlxxYKhNRqTk15wfz2WWGkqqRIJFrn/WfIa83Wl1Z6p+lI3EfppLAlEclkCxo9aWVmmLKnWCBbK/n00vGh77OnrmnajGTuigDWLiLe8EKecum2bnMeTwd0GYuHf6WIGZqwdFPqhF9togFtDkUQjICggqekV+YXoC7iwkQBhoIpg/LLrLtypcswf8Z+YE0uR3XluA12ItULGpcnWgKc8GDPSZJrQ0vcInbOjS+AZYC4ZubJkEQ0UtEr3jzZH5c59BHZf32ueCxq5ezNWeCVYhnZUsvtCX+GjK2LpLNzlUcwAieJBAyQTecbf1gr3EWfsR9bmZPM/rOxidWaxsFr9IlQqyFcOai2vlWPe9R+zD5gD+9054B1MEghUr6NtVN2eMvI8ApKw5RpL0Rwjot/4twLaL3Dsofw+ov4r0Xxc=
